
@{
    ViewBag.Title = "About Team A";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div  align="center" >
    <h1 class="text-white">Student Information System</h1>
    <h2> Team A members</h2>
    <div class="row" style="display: inline-block;">
        <div class="col-sm-3 sep-div" >
            <img src="~/Areas/Admin/EmaContrib/img/Reaz.jpg" class="img-round" />
            <h4 class="text-white"><b>Md. Reazul Islam Bhuiyan</b></h4>
        </div>
        <div class="col-sm-3 sep-div" style="float: left;">
            <img src="~/Areas/Admin/EmaContrib/img/Reaz.jpg" class="img-round" />
            <h4 class="text-white"><b>Md. Reazul Islam Bhuiyan</b></h4>
        </div>
        <div class="col-sm-3 sep-div" style="float: left;">
            <img src="~/Areas/Admin/EmaContrib/img/Reaz.jpg" class="img-round" />
            <h4 class="text-white"><b>Md. Reazul Islam Bhuiyan</b></h4>
        </div>
    </div>
</div>

